<div class="container">
    <!-- main form -->
    <form (ngSubmit)="addCommessa(form1.form, form2.form)" class="form" #mainForm="ngForm">
      <!-- first form  -->
      <form  class="form" #form1="ngForm">
        <fieldset >
          <legend>Anagrafica</legend>
          <div class="form-group">
            <label for="id_commessa">*Id Commessa</label>
            <input type="text" id="id_commessa" name="id_commessa" class="form-control" ngModel #id_commessa="ngModel" required minlength="3">
          </div>
          <div class="form-group">
            <label for="descrizione">descrizione</label>
            <input type="text" id="descrizione" name="descrizione" class="form-control" ngModel #descrizione="ngModel">
          </div>
          <div class="form-group">
            <label for="id_cliente">id_cliente</label>
            <input type="text" id="id_cliente" value="{{clienteId}}" name="id_cliente" class="form-control" [ngModel]="clienteId" name="id_cliente">
          </div>
          <div class="form-group">
            <label for="id_azienda">Id Azienda</label>
            <input type="text" id="id_azienda" name="id_azienda" class="form-control" ngModel #id_azienda="ngModel">
          </div>
          <div class="form-group">
            <label for="data_inizio">Data Inizio</label>
            <input type="date" id="data_inizio" name="data_inizio" class="form-control" ngModel #data_inizio="ngModel">
          </div>
        </fieldset>
        <fieldset >
          <legend >Contatti</legend>
          <div class="form-group">
            <label for="data_fine">data_fine</label>
            <input type="date" id="data_fine" name="data_fine" class="form-control" ngModel #data_fine="ngModel">
          </div>
        </fieldset>
        <!-- <div class="actions">
          <button type="submit" class="btn btn-dark">Submit</button>
            <p [hidden]="form1.valid">Compila tutti i campi contrassegnati con un *</p>
        </div> -->
      </form>
      <!-- second form -->
      <form class="form2" #form2="ngForm">
        <fieldset >
          <div class="form-group">
            <label for="id_dipendente">id_dipendente</label>
            <input type="text" id="id_dipendente" name="id_dipendente" class="form-control" ngModel #id_dipendente="ngModel">
          </div>  
        </fieldset>
        <fieldset >
          <div class="form-group">
            <label for="rate">rate</label>
            <input type="text" id="rate" name="rate" class="form-control" ngModel #rate="ngModel">
          </div>  
        </fieldset>
        <!-- <div class="actions">
          <p [hidden]="form1.valid">Compila tutti i campi contrassegnati con un *</p>
        </div> -->
      </form>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
