<!-- <div class="m-5 col-5">
  <h2 class="text-dark">Lista Aziende</h2>
<table class="table ">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col" >Nome</th>
      </tr>
    </thead>
    <tbody *ngFor="let e of aziende | async">
      <tr>
        <th>{{e.nome}}</th>
      </tr>
    </tbody>
</table><br>
</div> -->

<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4">
    Lista Aziende
    <small></small>
  </h1>
  <!-- SearchBar -->
  <nav class="navbar bg-light my-5 rounded-2">
    <div class="container-fluid">
      <a class="navbar-brand">Cerca Dipendente</a>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Inizia a digitare..."
          aria-label="Cerca dipendente per nome"
          #valoreDipendente
          (input)="searchAll(valoreDipendente)"
        />
        <button
          class="btn btn-outline-dark"
          (click)="searchAll(valoreDipendente)"
        >
          Cerca!
        </button>
      </form>
    </div>
  </nav>
  <!-- Search Results -->
  <div class="alert alert-warning" *ngIf="errore" role="alert">
    La ricerca non ha prodotto risultati.
  </div>
  <div *ngIf="is_display">
    <h2 class="text-dark">Dipendenti</h2>
    <div>
      <table class="table">
        <thead class="bg-dark text-white">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome dipendente</th>
            <th scope="col">Cognome dipendente</th>
          </tr>
        </thead>
        <tbody>
          <tr
            style="cursor: pointer"
            *ngFor="let d of dipendente$ | async"
            routerLink="aziendaDetails/{{ d.id_azienda }}"
          >
            <th>{{ d.id_dipendente }}</th>
            <td>{{ d.nome }}</td>
            <td>{{ d.cognome }}</td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>

  <!-- Project One -->
  <div class="row" *ngFor="let e of aziende | async">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ image }}" alt="" />
      </a>
    </div>
    <div class="col md-5">
      <h3>{{ e.nome }}</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
        veniam exercitationem expedita laborum at voluptate. Labore, voluptates
        totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque
        eveniet unde.
      </p>
      <button
        class="btn btn-dark"
        routerLink="aziendaDetails/{{ e.id_azienda }}"
      >
        Info
      </button>
    </div>
  </div>
  <!-- /.row -->

  <hr />
  <button class="btn btn-dark" routerLink="addAzienda">Aggiungi Azienda</button>
</div>
