<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<script type="text/javascript">
  $(document).ready(function(){
      $('.modal').modal('show');
  });
  </script>

<!------ Include the above in your HEAD tag ---------->

<div class="all">

  <!-- Page Heading -->

  <div class = "header">

    <div class="box-ricerca" *ngIf="permissions">

      <div class="search-option">

        <p class="green-text">Ricerca:</p>

        <button class="btn btn-outline-success m-1" type="button" name="search" (click)="openModal(ModalDipendenti)">Dipendenti</button>
        <button class="btn btn-outline-success m-1" type="button" name="search" (click)="openModal(ModalClienti)">Clienti</button>

        <!-- <p id = "link-btn" class = " link-btn" style = "cursor: pointer;" (click)="openModal(ModalDipendenti)">Dipendenti</p>
        <p id = "link-btn" class = " link-btn" style = "cursor: pointer;" (click)="openModal(ModalClienti)">Clienti</p> -->

      </div>

    </div>

    <div class = "logo" *ngIf = "permissions; else elseblock">
      <img src="../../../assets/Logo.PNG" alt="Logo_CloudMark" width="600">
    </div>

    <div class = "content">
      <ng-template #elseblock>
        <div class = "logo_2">
          <img src="../../../assets/Logo.PNG" alt="Logo_CloudMark" width="600">
        </div>
      </ng-template>
    </div>

    <div class = "settings">
      <button id = "sett-btn" class = "btn btn-outline-secondary" routerLink="/admin" *ngIf="permissions"><i class="bi bi-gear-fill"></i></button>
    </div>

    <!-- SearchBar Dipendente-->

    <ng-template #ModalDipendenti let-modal>

      <div class="modal-header">

        <nav class="navbar container bg-light rounded-2">

          <a class="navbar-brand">Cerca Dipendente</a>

          <form class="d-flex" role="search">

            <input
              class="form-control me-2"
              type="search"
              placeholder="Inizia a digitare..."
              aria-label="Cerca dipendente per nome"
              #valoreDipendente
              (input)="searchDipendente(valoreDipendente)"
            />

          </form>

        </nav>

      </div>

      <div class="modal-body">

        <!-- Search Results Dipendente -->

        <div class="container p-3 mb-5 alert alert-warning alert-dismissible fade show" *ngIf="errore" role="alert">

          <strong>Attenzione!</strong> La ricerca non ha prodotto risultati.
          <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="chiudi()">
          </button>

        </div>

        <div *ngIf="is_display">

          <h2 class="text-dark">Dipendenti</h2>

          <div>

            <table class="table">

              <thead class="bg-dark text-white">

                <tr>
                  <th scope="col">Cognome dipendente</th>
                  <th scope="col">Nome dipendente</th>
                  <th scope="col">Matricola</th>
                  <th scope="col">Contratto</th>
                  <th scope="col">Assunzione</th>
                </tr>

              </thead>

              <tbody>

                <tr (click) = "modal.close()" style="cursor: pointer" *ngFor="let d of dipendente$ | async" routerLink="aziendaDetails/{{ d.id_azienda }}">

                  <th>{{ d.cognome }}</th>
                  <td>{{ d.nome }}</td>
                  <td>{{ d.matricola }}</td>
                  <td>{{ d.nome_tipo_contratto }}</td>
                  <td>{{ d.data_inizio_rapporto }}</td>

                </tr>

              </tbody>

            </table>

            <br/>

          </div>

        </div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click) = 'modal.close()'> Close</button>

      </div>

    </ng-template>

    <!-- SearchBar Clienti -->

    <ng-template #ModalClienti let-modal>

      <div class="modal-header">

        <nav class="navbar bg-light container rounded-2">

            <a class="navbar-brand">Cerca Cliente</a>

            <form class="d-flex" role="search">

              <input
                class="form-control me-2"
                type="search"
                placeholder="Inizia a digitare..."
                aria-label="Cerca cliente"
                #valoreCliente
                (input)="searchCliente(valoreCliente)"
              />

            </form>

        </nav>

      </div>

      <div class="modal-body">
        <!-- Search Results Clienti-->

        <div class="alert alert-warning alert-dismissible fade show" *ngIf="errore2" role="alert">

          <strong>Attenzione!</strong> La ricerca non ha prodotto risultati.

          <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="chiudi()"></button>

        </div>

        <div *ngIf="is_display2">

          <h2 class="text-dark">Clienti</h2>

          <div>

            <table class="table">

              <thead class="bg-dark text-white">

                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Partita iva</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefono</th>
                </tr>

              </thead>

              <tbody>

                <tr (click)="modal.close()" style="cursor: pointer" *ngFor="let c of cliente$ | async" routerLink="clienteCommessa/{{ c.id_cliente }}">
                  <th>{{ c.nome }}</th>
                  <td>{{ c.p_iva }}</td>
                  <td>{{ c.email }}</td>
                  <td>{{ c.telefono }}</td>

                </tr>

              </tbody>

            </table>

            <br/>

          </div>

        </div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click) = 'modal.close()'> Close</button>

      </div>

    </ng-template>

  </div>

  <!-- Team -->

  <div class = "page">

    <section id="team" class="pb-5">

      <div class="container">

        <h5 class="section-title h1">LISTA AZIENDE</h5>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let e of aziende | async">

            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">

              <div class="mainflip">

                <div class="frontside">

                  <div class="card">

                    <div class="card-body text-center">

                      <h4 class="card-title text-capitalize">{{ e.nome }}</h4>
                      <p class="card-text text-capitalize">{{ e.indirizzo }}</p>
                      <p class="card-text">{{ e.email }}</p>
                      <p>
                        <img
                          class="img-fluid"
                          src="https://images.unsplash.com/photo-1489447068241-b3490214e879?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a85cb0d68de38ae2aa00d8a9663a320a&auto=format&fit=crop&w=1350&q=80"
                          alt="card image"
                        />

                      </p>

                    </div>

                  </div>

                </div>

                <div class="backside">

                  <div class="card">

                    <div class="card-body text-capitalize text-center mt-4">

                      <h4 class="card-title">{{ e.nome }}</h4>

                      <p class="card-text">

                        <button class="btn btn-primary" routerLink="aziendaDetails/{{ e.id_azienda }}">
                          Info
                        </button>

                      </p>

                      <ul class="list-inline"></ul>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </section>

  </div>

  <div class = "footer">

    <div class="container d-flex align-items-center justify-content-center mt-5">

      <button class="btn btn-primary w-50 mb-5" routerLink="addAzienda" *ngIf="permissions">

        Aggiungi Azienda

      </button>

    </div>

  </div>

</div>
