
<h2 class="text-dark"> Dettaglio Azienda</h2>
<div class="m-5" *ngIf="azienda$ | async as a">
  <table class="table ">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome azienda</th>
        <th scope="col">Indirizzo azienda</th>
        <th scope="col">CAP</th>
        <th scope="col">Partita Iva</th>
        <th scope="col">Email Azienda</th>
        <th scope="col">IBAN</th>
        <th scope="col">Telefono</th>
        <th scope="col">PEC</th>
        <th scope="col">FAX</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th >{{a.id_azienda}}</th>
        <td>{{a.nome}}</td>
        <td>{{a.indirizzo}}</td>
        <td>{{a.cap}}</td>
        <td>{{a.p_iva}}</td>
        <td>{{a.email}}</td>
        <td>{{a.iban}}</td>
        <td>{{a.telefono}}</td>
        <td>{{a.pec}}</td>
        <td>{{a.fax}}</td><br>
      </tr>
    </tbody>
  </table><br>
  <div>
    <button class="btn btn-dark m-2" routerLink="/">Home</button>
    <button class="btn btn-dark m-2" routerLink="/aziendaUpdate/{{a.id_azienda}}">Modifica</button>
    <button class="btn btn-dark m-2" (click)="deleteAzienda(a.id_azienda)" routerLink="/">Elimina</button>
  </div>
</div>

<div class="m-5 row">
  <div class="col-6">
    <app-dipendente [idaz]="aziendaId"></app-dipendente>
  </div>
</div>

<div class="m-5 row">
  <div class="col-6">
    <app-cliente ></app-cliente>
  </div>
</div>
