html,
body,
.intro {
  height: 100%;
}

/* .gradient-custom-1 {
  /* fallback for old browsers */
  /* background: #cd9cf2; */

  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to top, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1)); */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to top, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1)) */
/* } */
#box{
  border: 1px solid black;
  width: 200%;
  box-shadow: 7px 10px 3px #888888;
}

tbody td {
  font-weight: 500;
  color: #999999;
}

i{
  color: black;
}

button:hover i{
  color: white;
}
