<div class="container">
    <!-- Angular crea una proprietà che definisce il form : NgForm -->
    <!-- Template Driven -->
    <form (ngSubmit)="aggiungiAzienda(form.value)" class="form" #form="ngForm">
      <fieldset >
        <legend>Anagrafica</legend>
        <div class="form-group">
          <label for="id_azienda">*Id Azienda</label>
          <input type="text" id="id_azienda" name="id_azienda" class="form-control" ngModel #id_azienda="ngModel" required minlength="3">
          <div class="error" *ngIf="nome.touched && !nome.valid">
            Il campo non può essere vuoto
          </div>
        </div>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control" ngModel #nome="ngModel">
        </div>
        <div class="form-group">
          <label for="p_iva">Partita Iva</label>
          <input type="text" id="p_iva" name="p_iva" class="form-control" ngModel #p_iva="ngModel">
        </div>
      </fieldset>
      <fieldset >
        <legend >Contatti</legend>
        <div class="form-group">
          <label for="indirizzo">Indirizzo</label>
          <input type="text" id="indirizzo" name="indirizzo" class="form-control" ngModel #indirizzo="ngModel" indirizzo required>
        </div>
        <div class="form-group">
          <label for="cap">Cap</label>
          <input type="text" id="cap" name="cap" class="form-control" ngModel #cap="ngModel">
        </div>
        <div class="form-group">
          <label for="iban">iban</label>
          <input type="text" id="iban" name="iban" class="form-control" ngModel #iban="ngModel">
        </div>
        <div class="form-group">
          <label for="telefono">telefono</label>
          <input type="text" id="telefono" name="telefono" class="form-control" ngModel #telefono="ngModel">
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input type="text" id="email" name="email" class="form-control" ngModel #email="ngModel">
        </div>
        <div class="form-group">
          <label for="pec">pec</label>
          <input type="text" id="pec" name="pec" class="form-control" ngModel #pec="ngModel">
        </div>
        <div class="form-group">
          <label for="fax">fax</label>
          <input type="text" id="fax" name="fax" class="form-control" ngModel #fax="ngModel">
        </div>
      </fieldset>
      <div class="actions">
        <button type="submit" class="btn btn-dark">Submit</button>
          <p [hidden]="form.valid">Compila tutti i campi contrassegnati con un *</p>
      </div>
    </form>
  </div>
